		<div class="row">
			<div class="12u">

				<!-- Blog -->
					<section>
						<div class="row">
						{% for post in site.posts offset: 0 limit: 10 %}
							<div class="6u">
								<section class="box">
									<a href="#" class="image featured"><img src="{{ site.baseurl }}{{ post.featured }}" alt="" /></a>
									<header>
										<h3>{{ post.title }}</h3>
										<p>Posted {{ post.date | date_to_string }}</p>
									</header>
									{{ post.content | strip_html | truncatewords:50 }}
									<footer>
										<ul class="actions">
											<li><a href="{{ site.baseurl }}{{ post.url }}" class="button icon fa-file-text">Continue Reading</a></li>
											<li><a href="#" class="button alt icon fa-comment">33 comments</a></li>
										</ul>
									</footer>
								</section>
							</div>
						{% endfor %}
						</div>
					</section>

			</div>
		</div>
	</div>
</div>